# Databases
*.db
*.db-journal
*.db-wal

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
ENV/

# JavaScript/Node
node_modules/
dist/
.eslintcache
.vite/

# OS specific
.DS_Store
Thumbs.db
